VITE_SUPABASE_URL=https://ymiuiohsnywsgjvlhnrg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltaXVpb2hzbnl3c2dqdmxobnJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1Mjg1MDEsImV4cCI6MjA3OTEwNDUwMX0.BzGysZm8xbUBUct56JThWZwiMlu8JU0Zz_EmAxCJcr8
